/**,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}*/

.clearfix::after {
  content: "";
  height: 0;
  display: table;
  clear: both;
}
.main-container {
  font-family: "Lato", sans-serif;
}
.main-container__popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.945);
}
.main-container__heading {
  color: white;
  letter-spacing: 15px;
  font-size: 65px;
  font-weight: 300;
  margin: 4% auto 2% auto;
}
.main-container__heading--small {
  color: black;
  letter-spacing: 8px;
  font-size: 26px;
  margin: 2% auto 2% auto;
  text-transform: uppercase;
}
.main-container__panel {
  position: absolute;
  top: 24%;
  left: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, 0);
  /*background image: Photo by Brian Breeden on Unsplash*/
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.034),
      rgba(70, 23, 42, 0.849)
    ),
    url("../img/brian-breeden-1296702-unsplash-min.jpg");
  background-size: cover;
  background-position: bottom;
}

.main-container__panel__settings {
  margin: 4% 7%;
  width: 55%;
  background-color: rgba(255, 255, 255, 0.836);
  overflow: hidden;
  /*clip-path: polygon(0 0, 100% 0, 88% 74%, 94% 100%, 0 100%);*/
}

.main-container__buttons {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inactive {
  pointer-events: none;
  display: none;
}
