.btn {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 7px;
}
.btn:hover {
  transform: scale(1.01);
  background-color: rgba(119, 40, 72, 0.322);
}
.btn:active {
  transform: translateY(1px);
  background-color: rgba(119, 40, 72, 0.322);
}

.btn-sel {
  font-size: 21px;
  padding: 2px;
  width: 70%;
  display: block;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  margin: 6% auto 0 auto;
}
.btn-play {
  font-size: 37px;
  padding: 10px 10px 0 10px;
  margin: 6px;
}
.btn-circle {
  font-size: 30px;
  padding: 8px 8px 0px 8px;
  margin: 20% auto;
  border-radius: 22px;
  background-color: rgba(119, 40, 72, 0.493);
  display: block;
}

.btn-set {
  font-size: 21px;
  font-weight: 100;
  padding: 8px;
  display: block;
  margin: 5px auto 15px auto;
}

.btn-check {
  margin-top: 60px;
  color: black;
}
.btn-check__label {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}
