.btn {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
}
.btn-play {
  padding: 5px 5px 0px 5px;
  font-size: 20px;
  margin: 5px;
}
.btn-set {
  padding: 5px 5px;
  display: block;
  font-size: 14px;
  margin: 10px auto 10px auto;
}
.btn-set:last-child {
  pointer-events: auto;
}

.btn:hover {
  transform: scale(1.01);
  background-color: rgba(119, 40, 72, 0.322);
}
.btn:active {
  transform: translateY(1px);
  background-color: rgba(119, 40, 72, 0.322);
}

.btn-sel {
  width: 70%;
  font-size: 14px;
  display: block;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin: 6% auto 3% auto;
}

.btn-check {
  margin-top: 60px;
  color: black;
}
.btn-check__label {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}
