.catpath {
  width: 25%;
  margin: 1% 1%;
  float: left;
}
.catpath-list {
  margin-top: 0%;
  padding: 0;
  counter-reset: step;
}
.catpath-list li {
  list-style-type: none;
  width: 100%;
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.catpath-list li:before {
  width: 12px;
  height: 12px;
  content: "";
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 70%;
  background-color: rgba(175, 166, 172, 0.911);
  z-index: 20000000;
  position: relative;
  z-index: 20000;
}
.catpath-list li:after {
  width: 2px;
  height: 100%;
  content: "";
  position: absolute;
  background-color: rgba(175, 166, 172, 0.479);
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.catpath-list li:first-child:after {
  content: none;
}

.catpath-list li.active:before {
  border: 1px solid rgba(211, 129, 188, 0.801);
  width: 18px;
  height: 18px;
  background-image: url(../img/_ionicons_svg_md-paw.svg);
  background-size: cover;
  background-color: rgba(231, 230, 231, 0.479);
  transform: rotate(180deg);
}
.catpath-list li.active + li:after {
  background-color: rgba(211, 129, 188, 0.801);
}
