.catpath {
  width: 25%;
  margin: 1% 1%;
  float: left;
}
.catpath-list {
  margin-top: 0%;
  padding: 0;
  counter-reset: step;
}
.catpath-list li {
  list-style-type: none;
  width: 100%;
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.catpath-list li:before {
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 70%;
  border: 2px solid rgba(175, 166, 172, 0.479);
  background-color: rgba(236, 232, 235, 0.938);
  z-index: 20000000;
  position: relative;
  z-index: 20000;
}
.catpath-list li:after {
  width: 3px;
  height: 100%;
  content: "";
  position: absolute;

  background-color: rgba(175, 166, 172, 0.479);
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.catpath-list li:first-child:after {
  content: none;
}

.catpath-list li.active:before {
  width: 30px;
  height: 30px;
  background-image: url("../img/_ionicons_svg_md-add.svg");
  background-size: cover;
  background-color: rgb(236, 232, 235);
  transform: rotate(180deg);
}
.catpath-list li.active + li:after {
  background-color: rgba(0, 0, 0, 0.774);
}
