.playerName {
  margin: 2% auto 0 auto;
}
.playerName__input {
  font-family: "Lato", sans-serif;
  width: 70%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(65, 53, 16, 0.39);
  background-color: transparent;
  margin-bottom: 10px;
}
.playerName__input:focus {
  outline: none;
  background-color: rgba(65, 53, 16, 0.123);
}
.playerName__button {
  border: none;
  background-color: white;
  padding: 2px;
}
