.playerName {
  margin: 4% auto 0 auto;
}
input {
  font-family: inherit;
}
.playerName__input {
  font-size: 21px;
  font-family: inherit;
  width: 70%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(65, 53, 16, 0.39);
  background-color: transparent;
  margin-bottom: 4%;
}
.playerName__input:focus {
  outline: none;
  background-color: rgba(65, 53, 16, 0.123);
}
